@{
  Layout = "_Layout";
}

<h1>Welcome Claire!</h1>
<p>@Html.ActionLink("Click here to see all of your stylists.", "Index", "Stylists")</p>
<p>@Html.ActionLink("Click here to see all clients.", "Index", "Clients")</p>